.align {
  justify-content: space-between !important;
}

.no-grow {
  flex-grow: 0 !important;
}

.prefooter img {
  height: 60px;
}

.bg-footer {
  background-image: url('../../../public/img/footer-bg.jpg');
}
