.align {
  justify-content: space-around !important;
}

.no-grow {
  flex-grow: 0 !important;
}

.logo-navbar {
  height: 75px;
}

.nav-underlined .nav-item {
  position: relative;
}

.nav-underlined .nav-item.active a {
  color: #0d6efd;
}

.nav-underlined .nav-item.active::after {
  /* Content altrimenti l'after non viene "eseguito" */
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: #0d6efd;

  bottom: -2.1rem;
}

.prefooter img {
  height: 50px;
}

.bg-footer {
  background-image: url('../../../public/img/footer-bg.jpg');
}

.img-wrapper {
  height: 250px;
  overflow: hidden;
}

.comic-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.align-title-comics {
  padding-top: 16px;
}

.jumbotron-size {
  width: 100%;
  max-height: 600px;
  object-fit: cover;

  object-position: center 0%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 0px;
  top: -50px;
}
